{% extends "base.html" %}

{% block content %}
  {{ super() }}
  {% if not page.meta.hide %}
    <div class="utterances-container">
      <div class="utterances-light">
        <script src="https://utteranc.es/client.js"
              repo="biantailab/chemhandbook"
              issue-term="pathname"
              label="comment"
              theme="github-light"
              crossorigin="anonymous"
              async>
        </script>
      </div>
      
      <div class="utterances-dark">
        <script src="https://utteranc.es/client.js"
              repo="biantailab/chemhandbook"
              issue-term="pathname"
              label="comment"
              theme="github-dark"
              crossorigin="anonymous"
              async>
        </script>
      </div>
    </div>
    
    <style>
      .utterances-container {
        position: relative;
      }
      
      .utterances-light,
      .utterances-dark {
        width: 100%;
      }
      
      .utterances-dark {
        display: none;
      }
      
      [data-md-color-scheme="slate"] .utterances-light {
        display: none;
      }
      
      [data-md-color-scheme="slate"] .utterances-dark {
        display: block;
      }
      
      .md-theme--slate .utterances-light {
        display: none;
      }
      
      .md-theme--slate .utterances-dark {
        display: block;
      }
    </style>
  {% endif %}
{% endblock %} 